@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bakery-pink: #F8D3D3;
  --bakery-brown: #7B4B3A;
  --bakery-cream: #F5E5D7;
  --bakery-yellow: #F9EBAE;
  --bakery-light-pink: #FCD9D9;
  --red-purple: #ec0c74;
  --jasmine: #f9da86;
  --brown-chocolate: #641728;
  --dirt: #9e7755;
  --pastel-gray: #d8cfbd;
  --van-dyke-brown: #6a4234;
  --bakery-brown-custom: #BF8654;
  --rose-taupe: #965C5B;
  --misty-moss: #B0B980;
  --alabaster: #F4EDE7;
  --sunray: #E4AC4F;
  --warm-cream: #fff4e6;
  --beige-brown: #be9b7b;
  --dark-brown: #854442;
  --deep-brown: #5e4134;
  --darker-brown: #3c2f2f;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bakery-cream);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

strong {
  color: red;
}

.main-content {
  flex: 1;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 0;
}

/* Custom Toast Styles */
.toast-container .Toastify__toast {
  @apply bg-bakery-yellow text-bakery-brown border-l-4 border-bakery-brown p-4 rounded-lg shadow-lg;
}

.toast-container .Toastify__toast--success {
  @apply bg-green-500 text-white;
}

.toast-container .Toastify__toast--error {
  @apply bg-red-500 text-white;
}

/* Button Styles */
.btn {
  @apply py-2 px-4 rounded transition duration-300 flex items-center;
}

.btn-primary {
  @apply bg-bakery-yellow text-bakery-brown hover:bg-yellow-300;
}

.btn-danger {
  @apply bg-red-400 text-white hover:bg-red-500 hover:shadow-lg;
}

.btn-outline {
  @apply border border-bakery-brown text-bakery-brown bg-transparent hover:bg-bakery-brown hover:text-white;
}

.btn-pill {
  @apply bg-bakery-yellow text-bakery-brown py-2 px-6 rounded-full hover:bg-yellow-300;
}

.btn-bordered {
  @apply border border-bakery-yellow text-bakery-yellow bg-transparent hover:bg-bakery-yellow hover:text-white;
}

.btn-disabled {
  @apply bg-gray-400 text-white opacity-50 cursor-not-allowed;
}

.btn-elevated {
  @apply bg-white text-gray-800 border border-gray-400 rounded shadow hover:shadow-lg transition-shadow;
}

.btn-icon {
  @apply inline-flex items-center justify-center py-2 px-4 rounded transition duration-300;
}

.btn-icon-success {
  @apply bg-green-500 text-white hover:bg-green-600;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 1;
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounceIn {
  animation: bounceIn 1s ease forwards;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, .8), 0 0 10px rgba(255, 255, 255, .6), 0 0 15px rgba(255, 255, 255, .4);
    color: var(--bakery-yellow);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, .8), 0 0 20px rgba(255, 255, 255, .6), 0 0 30px rgba(255, 255, 255, .4);
    color: white;
  }
  to {
    text-shadow: none;
    color: white;
  }
}

.animate-glow {
  animation-name: glow;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

/* SimpleBar Custom Styles */
.simplebar-scrollbar::before {
  background-color: var(--bakery-brown);
}

.simplebar-track {
  background: var(--bakery-cream);
  border-radius: 10px;
}

/* Home Page Styles */
.home-page-container {
  @apply pt-24;
}

.about-us-page {
  @apply bg-bakery-light-pink text-bakery-brown;
}

.about-us-page .intro {
  @apply bg-bakery-yellow text-bakery-brown py-6 px-8;
}

.about-us-page .products {
  @apply bg-white text-bakery-brown py-6 px-8;
}

.about-us-page .contact {
  @apply bg-beige-brown text-van-dyke-brown py-6 px-8;
}

/* Welcome Message Styles */
.welcome-message-container {
  max-width: 600px;
  margin: auto;
  padding: 40px 20px;
  border-radius: 15px;
  background: linear-gradient(to right, var(--bakery-yellow), var(--bakery-cream));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.welcome-message-container h1 {
  color: var(--bakery-brown);
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.welcome-message-container h2 {
  color: var(--dark-brown);
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.welcome-message-container p {
  font-size: 18px;
  color: var(--text-color);
  margin: 10px 0;
}

.note {
  font-size: 20px;
  color: #d9534f;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #d9534f;
  border-radius: 5px;
  background-color: rgba(217, 83, 79, 0.1);
  display: inline-block;
  margin-top: 20px;
  animation: highlight 1s ease-in-out;
}

.explore-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  background-color: var(--bakery-brown);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.explore-button:hover {
  background-color: var(--deep-brown);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes highlight {
  0% {
    background-color: rgba(217, 83, 79, 0.1);
  }
  50% {
    background-color: rgba(217, 83, 79, 0.3);
  }
  100% {
    background-color: rgba(217, 83, 79, 0.1);
  }
}

/* Product Modal Styles */
.product-modal-container {
  @apply pt-14;
}

/* Product Page Styles */
.product-page-container {
  @apply pt-28;
}

.product-card {
  @apply bg-white rounded-lg shadow-lg overflow-hidden transition transform hover:scale-105 duration-300;
}

.image-container {
  @apply w-full h-48 overflow-hidden;
}

.product-image {
  @apply w-full h-full object-cover;
}

.product-name {
  @apply text-xl font-semibold;
}

.product-price {
  @apply text-gray-700;
}

.quantity-input {
  @apply border border-gray-300 rounded px-2 py-1 text-center w-16;
}

/* Contact Us Page Styles */
.contact-us-container {
  @apply pt-28;
}

/* Cake Ordering Form Styles */
.cake-order-container{
  @apply pt-28;
}

.order-cake-section {
  @apply mt-4 p-6 bg-white/80 rounded-lg shadow-md mx-auto w-full max-w-3xl;
  max-width: 800px;
  text-align: center;
}

.order-cake-section h3 {
  @apply text-2xl font-semibold text-bakery-brown mb-4;
}

.order-cake-section p {
  @apply mb-4;
}

.order-cake-section .btn {
  @apply mt-4 bg-bakery-yellow text-bakery-brown hover:bg-yellow-300 transition duration-300;
}

/* Cake Slideshow */
.carousel-container {
  width: 100%;
  max-width: 850px;
  margin: 20px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  padding: 5px;
}

.carousel-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center top;
  border-radius: 10px;
  transition: transform 0.3s ease;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.carousel-image:focus,
.carousel-image:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.carousel-image:hover {
  transform: scale(1.05);
}

.slick-next, .slick-prev {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next {
  right: -40px; 
}

.slick-prev {
  left: -40px;
}

.slick-next:before, .slick-prev:before {
  font-size: 30px;
  color: #FF5733;
}

/* Gallery Modal Styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding-top: 60px;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 600px;
  height: 70%;
  max-height: 500px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, #f3ec78, #af4261);
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.modal-content img:hover {
  transform: scale(1.05);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ff6347;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1002;
  transition: color 0.3s ease-in-out;
}

.close:hover {
  color: #ff4500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .carousel-container {
    padding: 25px;
  }

  .carousel-image {
    height: 300px;
  }

  .slick-next {
    right: -35px;
  }

  .slick-prev {
    left: -35px;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    padding: 25px;
  }

  .carousel-image {
    height: 350px;
  }

  .slick-next, .slick-prev {
    width: 40px;
    height: 40px;
  }

  .slick-next:before, .slick-prev:before {
    font-size: 24px;
  }

  .slick-next {
    right: -30px; 
  }
  
  .slick-prev {
    left: -30px;
  }

  .modal-content {
    width: 90%;
    max-width: 600px;
    height: 70%;
    max-height: 500px;
  }
}

/* Mangnifying Glass Styles */
.magnifying-glass-btn {
  background-color: var(--bakery-yellow);
  color: var(--bakery-brown);
  border-radius: 9999px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.magnifying-glass-btn:hover {
  background-color: var(--yellow-400);
  color: var(--bakery-brown);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.header-container {
  @apply bg-bakery-pink p-4 flex justify-between items-center shadow-md fixed top-0 w-full z-50;
  background: linear-gradient(to right, var(--bakery-pink), var(--bakery-cream));
  border-bottom: 1px solid var(--bakery-brown);
}

.header-logo {
  @apply rounded-full h-14 w-14 object-cover;
}

.header-nav {
  @apply space-x-6;
}

.header-nav a {
  @apply text-bakery-brown hover:text-bakery-yellow transition duration-300 text-lg font-medium;
}

.header-nav a:hover {
  @apply underline;
}

/* Empty Cart Styles */
.empty-cart-message {
  @apply text-center text-gray-700 text-2xl font-semibold mt-10 p-6 bg-white/80 rounded-lg shadow-md mx-auto max-w-md transition-all duration-300 ease-in-out transform hover:scale-105;
  background: linear-gradient(to right, var(--bakery-cream), var(--bakery-yellow));
}

.empty-cart-icon {
  @apply text-4xl text-bakery-brown mb-4 transition-colors duration-300;
}

.empty-cart-message p {
  @apply text-base text-gray-500 mb-4 transition-opacity duration-300;
}

.empty-cart-button {
  @apply bg-bakery-yellow text-bakery-brown py-2 px-4 rounded-full hover:bg-yellow-300 transition duration-300 transform hover:scale-105 inline-flex items-center justify-center space-x-2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Checkout Popup Styles */
.checkout-popup-container {
  @apply pb-24;
}

/* Custom Link Styles */
.cart-location-link {
  text-decoration: none;
  color: var(--bakery-brown);
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.cart-location-link:hover {
  color: var(--van-dyke-brown);
  transform: scale(1.05);
}

.cart-location-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(123, 75, 58, 0.5);
}


/* Cart Page Styles */
.cart-page-container {
  @apply pt-32;
  padding-bottom: 496px;
}

.cart-list-container {
  @apply container mx-auto p-4;
}

.cart-header {
  @apply text-3xl font-semibold text-bakery-brown mb-6;
}

.cart-item {
  @apply flex justify-between items-center border p-4 mb-4 rounded-lg shadow-lg bg-white;
}

.cart-item-image {
  @apply w-24 h-24 object-cover rounded-lg;
}

.cart-item-details {
  @apply text-lg font-bold text-bakery-brown;
}

.cart-item-price {
  @apply text-base text-gray-700;
}

.cart-item-quantity {
  @apply text-base text-gray-700;
}

.cart-item-buttons {
  @apply flex space-x-2
}

.cart-item-button {
  @apply btn btn-danger flex items-center justify-center p-2 rounded-full
}

.cart-total-price {
  @apply text-2xl font-bold mt-6 text-center text-bakery-brown;
}

.cart-checkout-button {
  @apply mt-6 text-center btn btn-primary py-2 px-4 bg-bakery-yellow text-bakery-brown rounded-lg hover:bg-yellow-300 transition-colors duration-300;
}

/* Footer Styles */
.footer {
  @apply bg-bakery-pink text-bakery-brown py-4 px-6 flex justify-between items-center shadow-lg;
  width: 100%;
}

.footer-link {
  @apply font-semibold text-lg underline transition duration-300 ease-in-out;
}

.footer-link:hover {
  @apply text-bakery-yellow;
}

.footer .footer-contact {
  @apply text-center md:text-left;
}


